@font-face {
    font-family: Terminator Real NFI;
    src: url(../Fonts/terminator_real_nfi/terminator\ real\ nfi.ttf);
}
@keyframes Menu {
    from {
        opacity: 00%;
    }
    to {
        opacity: 100%;
    }
}
body {
background-image: url(../images/Main.jpg);
background-repeat: no-repeat;
background-size:cover;
background-position: left;
background-attachment: fixed;
overflow: hidden;
}
center {
    color: rgb(41, 38, 38);
    font-size: 25px;
    background-color: rgba(250, 165, 179, 0.548);
    border: 4px rgba(255, 192, 203, 0.548);
    border-radius: 20px;
    animation: Menu 3s normal;
}
#Menu {
    margin: 8px;
    font-family: Terminator Real NFI;
}
a{
    color: rgb(44, 41, 41);
    text-decoration: none;
}
#LIONEL {
    font-size:100px;
    font-family: Terminator Real NFI;
    position: relative; top: 275px; left: 200px;
    animation: Opacidad 3s normal;
}
#Lionel {
    margin: 20px;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
}
#MESSI {
    font-size: 150px;
    font-family: Terminator Real NFI;
    position: relative; top: 200px; left: 200px;
    animation: Opacidad 3s normal;
}
#Messi {
    margin: 20px;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
}
@keyframes Opacidad {
    from {
        transform: translateX(-20px);
        opacity: 0%;
    }
    to {
        transform: translateX(0);
        opacity: 100%;
    }
}
@media screen and (max-width: 2000px) {
    #LIONEL {
        font-size: 100px;
        top: 480px;
        left: 40px;
    }

    #MESSI {
        font-size: 150px;
        top: 400px;
        left: 40px; 
    }
    center {
        background-color: rgba(250, 165, 179, 0.363);
    }
}
@media screen and (max-width: 800px) {
    #LIONEL {
        font-size: 60px;
        top: 65px;
        left: 0px;
    }

    #MESSI {
        font-size: 80px;
        top: 20px;
        left: 0px; 
    }
    center {
        background-color: rgba(250, 165, 179, 0.363);
    }
}@media screen and (max-width: 380px) {
    #LIONEL {
        font-size: 70px;
        top: 600px;
        left: 0px;
    }

    #MESSI {
        font-size: 90px;
        top: 550px;
        left: 0px; 
    }
}
